<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.farazfazli.plugin">

    <application
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BaseActivity">
        </activity>
    </application>

</manifest>
